/* Menu */
.menu
{
    /* position: fixed; */
    width: 200px;
    background-color: #FF8387;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform:translate(0, 8vh) scaleX(0);
    cursor: auto;
    transform-origin: 0 0;
    transition: transform .5s ease-in;
    will-change: transform;
    z-index: 999;
}

.burger .menu.shown
{
    transform:translate(0, 8vh) scaleX(1);
}

.menu .menu-section
{
    font-size: 18px;
    color: white;
    padding: 20px 10px;
    list-style-type: none;
    cursor: pointer;
}

.menu .white-line
{
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}