/* header#header .burger
{
    cursor: pointer;
    top: 20px;
    left: 0;
    z-index:20;
}
.hamburger
{
    width: 35px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: transform .5s;
    will-change: transform;
}

.hamburger::after,
.hamburger::before
{
    content:'';
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: transform .5s;
    will-change: transform;
}
.hamburger::before
{
    top: -13px;
}
.hamburger::after
{
    top: 13px;
}


.burger.active .hamburger
{
    background-color: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.burger.active .hamburger::before
{
    top: 0;
    transform: rotate(45deg);
}

.burger.active .hamburger::after
{
    top: 0;
    transform: rotate(135deg);
} */

.hamburger
{
    
}

/* Menu */

.menu
{
    position: fixed;
    width: 200px;
    background-color: #FF8387;
    top: 0;
    left: 0;
    width: 85%;
    height: 100vh;
    transform:translate(0, 0) scaleX(0);
    cursor: auto;
    transform-origin: 0 0;
    transition: transform .5s ease-in;
    will-change: transform;
    z-index: 999;
}

.burger .menu.shown
{
    transform:translate(0, 0) scaleX(1);
}

.menu .menu-section
{
    font-size: 18px;
    color: white;
    padding: 20px 10px;
    list-style-type: none;
    cursor: pointer;
}

.menu .white-line
{
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}