.background-pink.footer
{
    background-color: #FF8387;
}

.background-pink.footer .row:nth-child(1)
{
    padding-top: 50px;
}

.background-pink.footer .footer-txts
{
    margin-top:  20px;
    padding-bottom: 50px;
}

.background-pink.footer .footer-txts .footer-txt
{
    margin: 5px 5px; 
}

.background-pink.footer .footer-txts .footer-txt a
{
    color: #ffffff;
}

.background-pink.footer .footer-subtitle
{
    color: white;
    font-weight: bold;
}

.circle
{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    color: white;
}

@media (max-width: 600px)
{
    
    h2
    {
        font-size: 35px;
    }

    .background-pink.footer .footer-subtitle
    {
        padding-top: 50px;
    }

    .background-pink.footer .footer-txts
    {
        padding-bottom: 10px;
    }
}